$primary: rgb(1, 156, 223);
$text: rgb(86, 86, 86);
$text-light: #e1e0e0;
$secondary: rgb(215, 217, 216);
$bg: rgb(255, 255, 255);
$card-bg: rgb(244, 244, 244);

$table-odd: rgb(230, 245, 252);
$table-even: rgb(207, 237, 248);
$font: 'Karla', sans-serif;
